<%# Unsubscribe Footer - include in non-transactional emails %>
<% if (typeof unsubscribeUrl !== 'undefined' && unsubscribeUrl) { %>
<tr>
  <td align="center" style="padding:24px 20px 12px; border-top:1px solid #ffedd5;">
    <p style="margin:0; font-size:12px; line-height:18px; color:#a8a29e;">
      You are receiving this because you signed up for Balencia.
      <br>
      <a href="<%= unsubscribeUrl %>" style="color:#9a3412; text-decoration:underline;">Unsubscribe</a>
      &nbsp;|&nbsp;
      <a href="<%= appUrl || 'https://balencia.app' %>/settings" style="color:#9a3412; text-decoration:underline;">Email Preferences</a>
    </p>
  </td>
</tr>
<% } %>
